:root{
    --bs-tertiary-bg-rgb:91,91,91;
    --bg-color: rgb(238, 238, 238);
}

body{
    background-color: var(--bg-color);
}

.navbar-text{
    display: flex;
    text-align: center;

}

.list-group-item {
   --bs-list-group-bg: transparent;
   --bs-list-group-border-color: transparent;
}

#principal{
    background-image: url(senacImage.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
